*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#container {
    background-color: rgb(136, 72, 196);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#container h1{
    color: rgb(255, 238, 0);
    margin-bottom: 50px;
    font-size: 70px;
}